<div class = 'page-header'>
    <h1>Syllabus Builder</h1>
</div>

<!-- Insert Mandartory Course info provided on course creation-->

<!DOCTYPE html>
<html>
<head>
<title>Create Dynamic form Using JavaScript</title>
<script src="js/form.js" type="text/javascript"></script>
<link href="form.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main_content">
<!--
========================================================================================
Header Div.
========================================================================================
-->
<div class="first">
<p>
</a> Syllabus Builder</p>
</div>
<!--
======================================================================================
This Div is for the Buttons. When user click on buttons, respective field will appear.
=======================================================================================
-->
<div class="two">
<h4>Syllabus Component Blocks</h4>
<button onclick="homeworkBlock()">Homework</button>
<button onclick="taFunction()">TA</button>
<button onclick="ExamFunction()">Exam</button>
<button onclick="projectFunction()">Project</button>
<button onclick="otherFunction()">Other</button>
</div>
<!--
========================================================================================
This Div is meant to display final form.
========================================================================================
-->
<div class="three">
<h2>Syllabus Data Dynamic Form</h2>
<form action="#" id="mainform" method="get" name="mainform">
<span id="sylData"></span>
<p></p><input type="submit" value="Submit">
</form>
</div>

<!--
========================================================================================
Footer Div.
========================================================================================
-->
<div class="four">
<p>
</a> SyllabusLink.com</p>
</div>
</div>
</body>
</html>


<!--<form ng-submit= "main.doLogin(loginData);">

    <label>Username:</label>
    <input class = "form-control" type="text" name="username" placeholder ="Please enter you Username" ng-model = "main.loginData.username">
    <br>


    <label>Password:</label>
    <input class = "form-control" type="password" name="password" placeholder="Please enter your Password" ng-model = "main.loginData.password">
    <br>

    <button class = "btn btn-primary" type= "submit">Login</button>&nbsp
    <a href = "/auth/facebook" target = "_blank"><button type = "button" class = "btn btn-success">Facebook</button></a>

</form>-->




<br>

<div class = "jumbotron text-center" ng-show = "main.loading"> <!--whenever ng-show is called it performs action when the .something is called-->
    <span class = "glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>

<br>

<div class = "row show-hide-message" ng-show = "main.successMsg">
    <div class = "alert alert-success">{{ main.successMsg }}</div>  <!--double brackets is how angular passes data to controller to html page-->
</div>

<br>

<div class = "row show-hide-message" ng-show = " main.errorMsg">
    <div class = "alert alert-danger">{{ main.errorMsg }}</div>
</div>